<ion-header [translucent]="true">
  <ion-toolbar color="tiktok">
    <ion-title>
      Clarinha´s Drinks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://araujo.vteximg.com.br/arquivos/ids/4042618-1000-1000/07894900010015.jpg" alt="Coca-Cola lata">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Coca-Cola lata 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>03,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://cd.shoppub.com.br/cenourao/media/cache/7d/f4/7df4d5eff3efae9299961f143e281750.jpg" alt="Guaraná lata">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Guaraná lata 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>03,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>


      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://trimais.vteximg.com.br/arquivos/ids/1019988-1000-1000/foto_original.jpg?v=637490852659830000" alt="Coca-Cola 2l">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Coca-Cola 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">2l</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>08,00</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://s.cornershopapp.com/product-images/1258759.png?versionId=gHQ820.UyNgwPG56TesS8Qvm1IeSR9jX" alt="Guaraná 2l">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Guaraná 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">2l</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>07,00</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://savegnago.vteximg.com.br/arquivos/ids/560443-1000-1000/CERVEJA-HEINEKEN-600ML.jpg?v=637532495079070000" alt="Cerveja Heineken">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Cerveja Heineken
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">600ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>09,70</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://toninstr.blob.core.windows.net/product/9489-cerveja-brahma-600-ml-duplo-malte-one-way-g.jpg" alt="Cerveja Brahma">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Cerveja Brahma  
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">600ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>10,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://lh3.googleusercontent.com/proxy/HhInBz_7z8uVyb24s3qz4Va2_VDZ3fEfSGxB-5p-aUa3Us1FMyxDkWl_ccrR_Hh5ZdWvFis32Yk85LCZtz-Y3H-5HKoUWedGMTxJNto2HH2klzgXvcQHo7A4ERkK_w" alt="Suco de Laranja">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Suco de Lanranja 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>05,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://cafedavila.com.br/wp-content/uploads/2019/06/suco-de-maracuja.jpg" alt="Suco de Maracujá">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Suco de Maracujá 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">350ml</ion-badge>
            <ion-note slot="end" color="tiktok">R$ <span>05,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>



     

    </ion-row>
  </ion-grid>

</ion-content>
